@import '../styles/theme';

// Styles within the blog post content

.post-content {
    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 0.7em;
        border-radius: 3px;
        font-family: 'Hack';
    }

    .index {
        width: 30%;
        min-width: 300px;
        padding: 0.5em;
        margin: 2.5em 0.5em;
        border-radius: 0.5em;
        font-size: 0.8em;
        font-family: $fontname;

        .index-title {
            text-align: center;
            padding-bottom: 0.25em;
        }

        a {
            text-decoration: none;
            color: $theme;
        }
    }

    // headers, disclaimers, subtexts, or footers

    h2 {
        font-size: 1.4em;
    }

    h5 {
        color: $dimtext;
        font-weight: normal;
        font-size: 0.7em;
    }

    blockquote {
        font-style: italic;
        color: #b08060;
        border-left: 10px solid;
        margin: 1em;
        padding: 0.5em;
        quotes: '\201C' '\201D' '\2018' '\2019';

        p {
            display: inline;
        }
    }
    blockquote:before {
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    .internal-link {
        padding-top: 2.5em;
        margin-top: -2.5em;
    }

    th {
        text-align: center;
    }

    td {
        padding: 0em 0.5em;
    }
}

// Dark theme specific styles
.dark .post-content {
    code {
        background: $staticdarkerbg;
    }

    .index {
        background: $staticdarkerbg;

        .index-title {
            border-bottom: solid 1px $dimtext;
        }
    }
}

// Light theme specific styles
.light .post-content {
    code {
        background: $staticlighterbg;
    }

    .index {
        background: $staticlighterbg;

        .index-title {
            border-bottom: solid 1px $dimtext;
        }
    }
}

// Media queries for mobile view
@media (max-width: 768px) {
    .post-content {
        .index {
            width: calc(100% - 2em);
            font-size: 0.9em;
        }
    }
}
