// These might change, so I'm putting these styles here
// instead of defining the colors separately in _colors.scss

.dark .post-content {
    .token.punctuation {
        color: #f0c040;
    }

    .token.class-name {
        color: #50c0f0;
    }

    .token.keyword {
        color: #f05080;
    }

    .token.operator {
        color: #f09040;
    }

    .token.boolean {
        color: #b090f0;
    }

    .token.attr-name,
    .token.function {
        color: #80c000;
    }

    .token.comment {
        color: #909090;
    }
}

.light .post-content {
    .token.punctuation {
        color: #a09000;
    }

    .token.class-name {
        color: #1080a0;
    }

    .token.keyword {
        color: #a01060;
    }

    .token.operator {
        color: #b07040;
    }

    .token.boolean {
        color: #a070c0;
    }

    .token.attr-name,
    .token.function {
        color: #60a000;
    }

    .token.comment {
        color: #909090;
    }
}
