// Theme specific variables
$fulldark: #000000;
$fulllight: #ffffff;

$theme: #0094ff;
$themedarker: #0070dd;

$staticdarkbg: rgba(30,30,30,1);
$staticlightbg: rgba(230,230,230,1);

$staticdarkerbg: rgba(50,50,50,1);
$staticlighterbg: rgba(200,200,200,1);

$darkbg: linear-gradient(135deg, rgba(10,10,10,1) 0%, rgba(50,50,50,1) 100%);
$lightbg: linear-gradient(315deg, rgba(200,200,200,1) 0%, rgba(250,250,250,1) 100%);

$darktext: #e0e0e0;
$lighttext: #202020;

$darkertext: #dadada;
$lightertext: #303030;

$darklinktext: #60c0e0;
$lightlinktext: #3080a0;

$dimtext: #888888;

$fontname: 'Signika';
$readingfont: 'EB Garamond';
