@import './colors';

.map {
    padding: 3em 0;
    text-align: center;
    font-size: 1.5em;

    .map-image {
        width: 7.5em;
        height: 9em;
        margin: 0 auto;
    }

    .map-image:hover {
        background-image: url(/images/dp.jpg);
        background-size: cover;

        svg {
            visibility: hidden;
        }
    }

    .sidebarsocial {
        font-size: 1.5em;
        margin-bottom: 1em;
        display: flex;
        justify-content: space-evenly;

        .sidebar-icon {
            color: $middark;
        }

        // .fa-twitter {
        //     color: #00aced;
        // }

        // .fa-spotify {
        //     color: #1dd65f;
        // }

        // .fa-key {
        //     color: #ff6c1b;
        // }

        // .fa-twitch {
        //     color: #744bbe;
        // }
    }

    .sidebarlink {
        padding: 0.25em;

        a {
            text-decoration: none;
        }
    }

    .sidebarlink.emphasized a {
        color: $emphasizedtext;
    }
}

.map-para {
    margin-bottom: 2em;
    font-size: 0.9em;
}
