@import '../../styles/colors';

#navbar {
    position: fixed;
    text-align: center;
    height: 1.23em;
    width: 100%;
    font-size: 2em;
    padding: 0.25em;
    top: 0;
    z-index: 5;

    #firstname {
        color: $theme;
    }

    #sitename,
    #interim-one,
    #interim-two,
    #interim-three {
        display: none;
        width: 0;
    }

    #sitename,
    #fullname,
    #interim-one,
    #interim-two,
    #interim-three {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    #toggleTheme {
        cursor: pointer;
        position: absolute;
        font-size: 0.75em;
        right: 2em;
        top: 0.3em;
        padding: 0.3em 0.5em 0.3em 0.5em;
        border-radius: 0.3em;
    }

    .togglesidebar,
    #toggleTheme {
        opacity: 1;
        transition: 0.3s ease;
    }
}

.dark #navbar {
    background: $fulldark;
    box-shadow: 0px 5px 10px 0px $shadowdark;

    #lastname {
        color: $darktext;
    }

    #toggleTheme:hover {
        background: $staticdarkbg;
    }
}

.light #navbar {
    background: $fulllight;
    box-shadow: 0px 0px 10px 0px $shadowdark;

    #lastname {
        color: $lighttext;
    }

    #toggleTheme:hover {
        background: $staticlightbg;
    }
}

#navbar.firstload {
    height: 100vh;
    padding-top: calc(50vh - 0.75em);

    #fullname {
        display: none;
        width: 0;
    }

    #sitename {
        display: inline-block;
        width: auto;
    }

    .togglesidebar,
    #toggleTheme {
        opacity: 0;
        transition: 0.3s ease;
    }
}

@media (max-width: 768px) {
    #navbar {
        font-size: 1.5em;

        #toggleTheme {
            right: 1.3em;
        }
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
