.previous-page-link,
.next-page-link {
    text-align: center;

    a {
        font-size: 1.5em;
        text-decoration: none;
    }
}

.previous-page-link {
    padding-top: 2em;
}

.next-page-link {
    padding-bottom: 2em;
}
